/target
/classes
/checkouts
/doc/Analysis.aux
/doc/Analysis.lof
/doc/Analysis.log
/doc/Analysis.lot
/doc/Analysis.pdf
/doc/Analysis.toc
/doc/build
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/node_modules
/package-lock.json
