<html>
    <font color="white">
        <em>BPM</em> (track): {{bpm}}; &nbsp; effective BPM: {{effective-bpm}}
        <br/>

        <em>Pitch</em>: {{pitch}} &nbsp;
        <em>B<sub>b</sub></em>: {{bar-beat}}
        <br/>

        <em>next beat</em>: {{next-beat}} ms, <em>2nd beat</em>: {{2nd-beat}} ms,<br/>
        <em>4th beat</em>: {{4th-beat}} ms, <em>8th beat</em>: {{8th-beat}} ms,<br/>
        <em>next bar</em>: {{next-bar}} ms, <em>2nd bar</em>: {{2nd-bar}} ms.<br/>
        <br/>

        <center><img src="{{bar-image}}"></center>
    </font>
</html>
