<html>
    <font color="white">
        <em>BPM</em> (track): {{bpm}}; &nbsp; effective BPM: {{effective-bpm}}
        <br/>

        <em>Pitch</em>: {{pitch}} &nbsp;
        <em>B<sub>b</sub></em>: {{bar-beat}}
        <br/>

        <center><img src="{{bar-image}}"></center>
    </font>
</html>
