(draw-remotedb-header 0x4702 9)

(draw-number-field 0x2104)
(draw-number-field 0)

(let [label (length-label 1)]
  (draw-number-field label)
  (draw-binary-field "Cue and loop point bytes" {:length-label label}))

(draw-box nil :box-below)
(draw-number-field 0x36)
(draw-number-field (text "num" :math [:sub "hot"]))
(draw-number-field (text "num" :math [:sub "cue"]))

(let [label (length-label 2)]
  (draw-number-field label)
  (draw-binary-field "Unknown bytes" {:length-label label :min-label-columns 6}))
(draw-bottom)
