(draw-packet-header "00")
(draw-box :span 4 :borders #{:left :right :top})
(next-row)

(draw-row-header "10")
(draw-box :span 16 :text (svg/text {:font-size         18
                                    :font-family       serif-family
                                    :dominant-baseline "middle"
                                    :text-anchor       "middle"}
                                   "Device Name (padded with "
                                   (svg/tspan {:font-family      hex-family
                                              :font-size         18
                                              :dominant-baseline "middle"}
                                             "00")
                                   ")")
          :borders #{:left :right :bottom})
(next-row)

(draw-row-header "20")
(draw-box :text (hex-text "01"))
(draw-box :text (hex-text "02" :font-weight "bold"))
(draw-box :span 2 :text (label-text "len" "p"))
(draw-box :text (label-text "N"))
(draw-box :text (hex-text "02"))
(draw-box :span 6 :text (plain-text "MAC address"))
(next-row)
