;; Functions to draw common features of status, beat, and control packets.

;; Some nice default background colors, used to distinguish header sections.
(defattrs :bg-green {:fill "#a0ffa0"})

;; Test redefining subscripts to use dy rather than baseline-shift for
;; Firefox.
(defattrs :sub {:font-size "70%" ; Style for subscripted nested tspan objects
                :dy        "5"})


;; Support for superscript digits with subscritped text right below them.
(defattrs :super {:font-size      "70%"
                  :font-style     "normal"
                  :dy "-7"})
(defattrs :sub-below-super (merge (:sub @named-attributes)
                                  {:dx -7
                                   :dy 12}))
(defn draw-packet-header
  "Generates the byte labels and first two rows of a standard DJ Link
  status, beat, or control packet with the specified `kind` byte."
  [kind]
  (draw-column-headers)
  (draw-related-boxes [0x51 0x73 0x70 0x74 0x31 0x57 0x6d 0x4a 0x4f 0x4c (hex-text kind 2 :bold)]
                      :bg-green)
  (draw-box nil [{:span 5} :box-above])
  (draw-box (text "Device Name (padded with " :plain [:hex "00"] ")") [{:span 15} :box-below])
  (draw-box 1))
